<!DOCTYPE HTML>
<html ng-app="PHPKonfApp">
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>PHPKonf: Istanbul PHP Conference 2016</title>

    <link rel="shortcut icon" href="img/favicon.ico" />

    <meta name="description" content="PHPKonf: 21/22 Mayıs 2016'de Bahçeşehir Üniversitesi'nde düzenlenecek PHP Konferansı hakkında bilgilere ulaşabileceğiniz web sitesi.">
    <meta name="keywords" content="PHP Konferansı, PHP, PHPKonf">
    <meta name="author" content="IstanbulPHP"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="PHPKonf: Istanbul PHP Konferansı 2016" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://phpkonf.org/" />
    <meta property="og:image" content="http://phpkonf.org/img/covers/phpkonf2014.jpg" />
    <meta property="og:description" content="PHPKonf: 21/22 Mayıs 2016'a Bahçeşehir Üniversitesi'nde düzenlenecek PHP Konferansı hakkında bilgilere ulaşabileceğiniz web sitesi." />
    <link rel=stylesheet href="libs/zozo-tabs/css/zozo.examples.min.css">
    <link rel=stylesheet href="libs/zozo-tabs/css/zozo.tabs.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <link rel=stylesheet href="css/main.min.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController" ng-cloak>

    <!-- <header id="sticky-header" class="header"> -->
    <header id="sticky-header" class="header">
        <div class="container">
            <a class="logo logo--sticky header__logo" href="#">PHPKonf</a>
            <a class="button button--primary header__language" ng-click="changeLanguage('tr')">TR</a>
            <a class="button button--primary header__language" ng-click="changeLanguage('en')">EN</a>
            <a class="button button--primary header__btn" href="https://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{ 'REGISTER' | translate }}</a>
            <nav id="sticky-header-menu" class="menu header__menu">
                <a class="menu__item" data-target-id="main" href="#">{{ 'HOME' | translate }}</a>
                <a class="menu__item" data-target-id="about" href="#">{{ 'ABOUT' | translate }}</a>
                <a class="menu__item" data-target-id="speakers" href="#">{{ 'SPEAKERS' | translate }}</a>
                <a class="menu__item" data-target-id="program" href="#">{{ 'PROGRAM' | translate }}</a>
                <a class="menu__item" data-target-id="tickets" href="#">{{ 'TICKETS' | translate }}</a>
            </nav>
        </div>
    </header>
    <!--only mobile-->
    <header id="mobile-header" class="mobile-header">
        <div class="container">
            <a class="button button--primary header__language" ng-click="changeLanguage('tr')">TR</a>
            <a class="button button--primary header__language" ng-click="changeLanguage('en')">EN</a>
            <a href="#nav" class="navicon"><i class="fa fa-navicon"></i></a>
            <div class="clearfix"></div>
            <nav id="mobile-nav" class="menu header__menu">
                <a class="menu__item" data-target-id="main" href="#">{{ 'HOME' | translate }}</a>
                <a class="menu__item" data-target-id="about" href="#">{{ 'ABOUT' | translate }}</a>
                <a class="menu__item" data-target-id="speakers" href="#">{{ 'SPEAKERS' | translate }}</a>
                <a class="menu__item" data-target-id="program" href="#">{{ 'PROGRAM' | translate }}</a>
                <a class="menu__item" data-target-id="tickets" href="#">{{ 'TICKETS' | translate }}</a>
            </nav>
        </div>
    </header>
    <div id="main" class="jumbotron jumbotron--main">
        <div class="container jumbotron__container">
            <section class="jumbotron__inner">
                <a class="logo logo--header" href="#">PHPKonf</a>
                <h1 class="jumbotron__title jumbotron--main__title">{{ 'LOCATION_DATE' | translate }}</h1>
                <span class="inline-block" translate="{{ 'MAIN_DESCRIPTION' }}"></span><br>
                <span class="inline-block" style="margin-top: 10px;">{{ 'SHARE_TO_WORLD' | translate }} <a href="https://twitter.com/intent/tweet?button_hashtag=phpkonf&text=PHPKonf%3A%20Istanbul%20PHP%20conference%202016%20hosted%20by%20Istanbul%20PHP%20community!%20%23php%20@istanbulphp" class="twitter-hashtag-button" data-related="EmirKarsiyakali,IstanbulPHP,yuxel" data-url="http://phpkonf.org/">Tweet #phpkonf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span><br>
                <a class="button button--primary jumbotron--main__btn" href="https://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{ 'REGISTER' | translate }}</a>
            </section>
        </div>
    </div>
    <div id="about" class="pad-vertical-large bg-snow">
        <div class="container">
            <div class="row">
                <section class="col-md-6 gap-bottom-tablet-v">
                    <h3 class="gap-bottom-medium clear-gap-top">{{ 'ABOUT_PHPKONF_TITLE' | translate }}</h3>
                    <p class="gap-bottom-medium" translate="{{ 'ABOUT_PHPKONF_DESC' }}"></p>
                    <a class="button button--primary" target="_blank" href="https://twitter.com/IstanbulPHP">{{ 'ISTANBULPHP_ON_TWITTER' | translate }}</a><br/><br/>
                    <a class="button button--primary" target="_blank" href="http://www.meetup.com/IstanbulPHP">{{ 'ISTANBULPHP_ON_MEETUP' | translate }}</a>
                </section>
                <div class="col-md-6">
                    <div class="row gap-bottom">
                        <div class="col-sm-4 gap-bottom-mobile-h">
                            <figure class="thumb thumb--primary">
                                <img data-src="img/2014/1.jpg" alt="" class="thumb__img">
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <figure class="thumb thumb--primary">
                                <img data-src="img/2014/2.jpg" alt="" class="thumb__img">
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 gap-bottom-mobile-h">
                            <figure class="thumb thumb--primary">
                                <img data-src="img/2014/3.jpg" alt="" class="thumb__img">
                            </figure>
                        </div>
                        <div class="col-sm-6">
                            <figure class="thumb thumb--primary">
                                <img data-src="img/2014/4.jpg" alt="" class="thumb__img">
                            </figure>
                        </div>
                    </div>
                    <div style="margin-top: 10px;"><a target="_blank" href="https://www.facebook.com/media/set/?set=a.1680108142218694.1073741829.1440529842843193&type=3">More photos!</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="speakers" class="container text-center pad-vertical-large">
        <h3 class="clear-gap-top">{{ 'SPEAKERS' | translate }}</h3>
        <hr class="hyphen">
        <div class="honeycomb-wrapper">

            <div class="col-sm-3" ng-repeat="(id, speaker) in speakers | toArray">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <a href="javascript:void(0)" ng-click="clickToOpen(speaker)">
                            <img width="200px" height="200px" src="img/speakers/{{ speaker.photo }}" alt="{{ speaker.name + " " + speaker.surname }}" class="img-responsive">
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                    <a href="javascript:void(0)" ng-click="clickToOpen(speaker)">{{ speaker.name + " " + speaker.surname }}</a>
                    <p class="about" style="height: 50px!important">{{ speaker.bio }}</p>
                </div>
            </div>

            <!-- <div style="clear: both;">
                <a style="margin-top: 30px;" class="button button--primary" href="#" target="_blank">Show more!</a>
            </div> -->

        </div>

    </div>

    <div id="program" class="pad-vertical-medium bg-snow">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="tabbed-nav">

                        <!-- Tab Navigation Menu -->
                        <ul>
                            <li><a>{{ 'DAY_1' | translate }} </a></li>
                            <li><a>{{ 'DAY_2' | translate }}</a></li>


                        </ul>

                        <!-- Content container -->
                        <div>

                            <!-- DAY1 -->
                            <div>
                                <p class="gap-bottom-medium">{{ 'DAY_1_DESC' | translate }}
                                </p>
                                <a class="gap-bottom-medium button button--primary"
                                   href="http://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{
                                    'REGISTER' | translate }}</a>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>{{ 'DATE' | translate }}</th>
                                        <th><h4>BKONF</h4></th>
                                        <th><h4>Fazıl Say Hall</h4></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>09:00</td>
                                        <td colspan="2" class="text-center">
                                            <h6>Keynote: Performance Optimization</h6><span>Fabien Potencier</span>

                                            <p class="text-left">
                                            I bet you are writing unit tests for your apps; if not, you probably feel ashamed. But what about performance? Everyone is talking about it but very few people actually integrate performance into their development workflow... But performance is key to success: if your website is not fast enough, you will loose both customers and revenue. Theory and good tools can go a long way to quick wins and continuous performance testing.
                                            </p>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>10:00</td>
                                        <td>
                                            <h6>Extremely Defensive PHP</h6><span>Marco Pivetta</span>

                                            <p>
                                            What if I told you that your carefully designed and tested code was fragile?<br/>
                                            What if I told you that you can trust nobody?<br/>
                                            What does “fragile” even mean?<br/>
                                            We are going to look at fragile code, fix it, and lastly learn about various Poka-Yoke techniques that make our code very hard to break.
                                            </p>
                                        </td>
                                        
                                        <td>

                                            <h6>Kod Kalitesi için Fonksiyonel Testler ve Behat</h6><span>Fatih Üstündağ</span>

                                            <p>
                                            </p>

                                        </td>


                                    </tr>
                                    <tr>
                                        <td>11:00</td>
                                        <td>
                                            <h6>Securing: from basic principles to PHP specifics</h6><span>Alexander Makarov</span>

                                            <p>During numerous code reviews I've found that many projects sharing alike security flaws despite being developed by experienced teams. In the talk I'd cover both security basics, PHP specifics and some extras such as common errors in server configs.</p>
                                        </td>
                                        
                                        <td>

                                            <h6>PHP ve Elasticsearch: Elastica</h6><span>Alpcan Aydın</span>

                                            <p>
                                            Detaylı arama ve analiz işlemleri yapmamızı sağlayan Elasticsearch'e Elastica ile bağlanıp nasıl geliştirme yapabileceğimize ve verimiz üzerinde daha akıllı aramaları ve analizleri nasıl elde edebileceğimize göz atacağız.
                                            </p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12:00</td>
                                        <td colspan="2" class="text-center lunch"><h6>Lunch</h6></td>

                                    </tr>
                                    <tr>
                                        <td>13:00</td>
                                        <td>

                                            <h6>The framework is dead</h6><span>Bruno Škvorc</span>

                                            <p>
                                            It is said developers go through four stages:<br><br>
                                            1. No framework<br>
                                            2. Use a framework.<br>
                                            3. Write own framework.<br>
                                            4. No framework.<br>
                                            <br>
                                            Once the cycle is complete, the developer is said to be ready. In this talk, we'll go for stage 3, but replace it with stage 4. In other words, we'll explain how to build our own framework, but from third part components, thus being immune to breaking changes, vendor lock, and other negative side effects of using popular frameworks.
                                            </p>

                                        </td>
                                        <td>

                                            <h6><a target="_blank" href="http://devpod.org">DevPod</a> Panel</h6>
                                            <span>Moderatör: Uğur Özyılmazel. Konuklar: Fatih Kadir Akın, Üstün Özgür, Lemi Orhan Ergin, Abdullah Uğraşkan</span>

                                            <p></p>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>14:00</td>
                                        <td>
                                            <h6>Continuous Delivery with Jenkins in the Real World</h6><span>Gianluca Arbezzano</span>

                                            <p>In this talk I will share the CurrencyFair experience, how our IT Team made of 40 engineers manage CurrencyFair delivery with GitHub, Jenkins, Hubot and Slack on different environments. Artifact, pipeline and some Jenkins's plugins in order to create the most comfortable delivery flow for your projects.</p>

                                        </td>
                                        <td>
                                            <h6>Breaking the Framework’s Core</h6><span>Mehmet İnce</span>

                                            <p>
                                            Web framework’leri yani web uygulama çatıları günümüz web teknolojisinin en önemli yapı taşlarından bir tanesidir. Yapısında bir çok farklı özelliği barındıran ve web uygulamalarının temeli olan framework'lerin güvenliği son derece önem teşkil eder. Drupal, WordPress, Symfony veya CodeIgniter gibi çok kullanılan açık kaynak sistemlerde tespit edilecek bir güvenlik açığı birbirinden bağımsız onlarca projeyi, kurumu ve sistemi etki alanı içine alır. Bu sunum içeriğinde popüler frameworklerde oluşan zafiyetlerin detaylı analizi ve en sık karşılaşılan yanlış kullanımlar uygulamalı örnekler ile anlatılacaktır.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>15:00</td>
                                        <td>
                                            <h6>From source to code: an introduction into compilers, interpreters and JIT.</h6><span>Joshua Thijssen</span>

                                            <p>
                                            With the release of HHVM and PHP7 you hear lots of people talking about AST, JIT, static analysis etcetera. But what does this all mean? Will it make our PHP code run faster and if so, how?<br><br>

                                            During this talk, I will give an introduction in how computer languages in general will convert from human readable source code like PHP code to instructions that a computer can actually execute.<br>
                                            We will talk about the steps PHP has taken (and will take in the future) and give you insights in what it all means. And it all might give you even some idea's on writing your own language as well.<br>
                                            </p>

                                        </td>
                                        <td>
                                            <h6></h6><span></span>

                                            <p></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>16:00</td>
                                        <td>
                                            <h6>Containerizing PHP Applications</h6><span>Victor Farazdagi</span>

                                            <p>
                                            - Docker is quickly becoming standard tool for both development and deployment<br>
                                            - Grasping basics of containerization is simple. However, devising an effective workflow that results in highly optimized and easily re-deployable images is not a trivial task.<br>
                                            - If you’ve ever ended up with ~1.5GB images (even for the simplest apps doing almost nothing), this talk is definitely for you, as we will talk about optimization and costs/benefits of using containers.<br>
                                            - If you’ve ever wondered how containers can be used during all stages of software crafting (development, testing and deployment), this talk should provide you with a number of useful ideas.
                                            </p>

                                        </td>
                                        <td>
                                            <h6>Senin Değerin Ne Kadar?</h6>
                                            <span>Ceyda Anıl</span>

                                            <p>Ekran başında saatlerce zihninizi, gözlerinizi ve ellerinizi çalıştırıyor, zamanınızı ve emeğinizi gelen projeler ve şirketler için veriyorsunuz. Peki hak ettiğiniz değeri gerçekten alabiliyor musunuz?</p>

                                            <h6>Yeni Dünya Düzeni Sermayesi</h6>
                                            <span>Akın Moroğlu</span>

                                            <p>Bilgiye erişimin sınırlarının kalkmasıyla birlikte değişen dünyada, Y diye adlandırılan neslin değişimdeki yeri nedir? Neden multidisipliner olmak gereklidir?</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17:00</td>
                                        <td>
                                            <h6>Make your web solutions more flexible with Symfony based layout and block management </h6><span>Ivo Lukac</span>

                                            <p>
                                            When thinking about layout of web applications and sites it is still about custom and rigid templates and controllers. In simple use cases that should be enough but it is less flexible when building or maintaining complex solutions even more so with responsive and adaptive approaches which are today standard requirement.<br>
                                            It should be possible to create a component that gives designers, developers and advanced editors to:<br>
                                            - easily manage different layouts and zones (generating Bootstrap, Foundation, React or whatever kind of output)<br>
                                            - define master layouts with zone inheritance,<br>
                                            - add/more/remove blocks with a simple drag and drop interface (or even from command line),<br>
                                            - implement custom blocks by simple template and/or controller override,<br>
                                            - apply layouts to routes with conditions like user roles, geolocation, time, etc.
                                            </p>

                                        </td>
                                        <td>
                                            <h6>Optimizing PHP-FPM, Nginx and kernel for high performance</h6><span>Osman Üngür</span>

                                            <p>Oturumda web uygulamalarının en iyi performansla çalışması için gereken PHP-FPM, Zend Opcache, Nginx ve Linux kernel ile alakalı ince ayarlardan bahsedilecek.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- DAY2 -->
                            <div>
                                <p class="gap-bottom-medium">{{ 'DAY_2_DESC' | translate }}
                                </p>
                                <a class="gap-bottom-medium button button--primary"
                                   href="http://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{
                                    'REGISTER' | translate }}</a>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>{{ 'DATE_2' | translate }}</th>
                                        <th><h4>BKONF</h4></th>
                                        <th><h4>Fazıl Say Hall</h4></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>09:00</td>
                                        <td colspan="2" class="text-center">
                                            <h6>Keynote</h6><span>Yitzchok Willroth</span>

                                            <p class="text-left"></p>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>10:00</td>
                                        <td>
                                            <h6>What They Should Tell You About API Development</h6><span>Phil Sturgeon</span>

                                            <p>
                                            As a refinement to his previously published book, the author of "Building APIs You Won't Hate" found that API books and training tend to introduce documentation, testing and caching as an after-thought, as if these are not important. However, some new experiences have shown that API development works best when these items are thought out first, as well as including a strong pragmatic approach to ensure the API solves real problems without getting stuck on the theory of how to "properly" create it.
                                            <br>
                                            <br>
                                            Other pragmatic talking points include: Why and how documentation first can stop your team(s) from getting violent, when is REST not what you want, why is hypermedia sometimes a distraction, convenient ways to avoid versions in your API or at least postpone it, and comprehensive but simple endpoint integration testing beyond trivial examples.
                                            </p>
                                        </td>
                                        
                                        <td>
                                            <h6>Yazılım Geliştirme Süreçleri ve Agile</h6>
                                            <span>Birge Elif Basık, Gamze Ekinci</span>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>11:00</td>
                                        <td>
                                            <h6>Magento at 2</h6><span>Ben Marks</span>

                                            <p>Magento - the powerhouse behind more than 200,000 commercial websites - has grown up! Composer install, test suite, configurable dependency injection, and so many other details make Magento 2 a compelling choice for ecommerce projects. Even if you're not in the ecommerce world, Magento 2 is a unique, customizable MVC framework worth your attention.</p>

                                        </td>
                                        <td>

                                            <h6>Realtime Web Uygulamaları</h6><span>Fatih Acet</span>

                                            <p>Oturumda gerçek zamanlı web uygulamaları ve Firebase, Google Drive gibi 3. parti servisleri kullanarak web uygulamalarına gerçek zaman desteği vermekten bahsedilecek.</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>12:00</td>
                                        <td colspan="2" class="text-center lunch"><h6>Lunch</h6></td>

                                    </tr>
                                    <tr>
                                        <td>13:00</td>
                                        <td>

                                            <h6>PSR-7 HTTP messages in the wild</h6><span>Hannes Van de Vreken</span>

                                            <p>
                                            PSR-7 describes common interfaces for representing HTTP messages. HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create HTTP request messages that are sent to a web server, which provides an HTTP response message. Server-side code receives an HTTP request message, and returns an HTTP response message.
                                            <br><br>
                                            This talk will explain the interfaces defined by PSR-7, how they define the future of interoperability between frameworks and tools. After that there will be a showcase of several implementations and tools such as zend's diactoros package, Guzzle v6, php-http, RelayPHP, Symfony's bridge project and other packages that show the real power of shared interfaces for HTTP objects. A clear path to how we can start using these typed objects in our applications today will be shown.
                                            </p>
                                        </td>
                                        <td>
                                            <h6>PHP Panel</h6><span>Moderatör: Emir Karşıyakalı. Konuklar: Hidayet Doğan, Muhittin Özer, Arda Kılıçdağı</span>
                                            <p></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>14:00</td>
                                        <td>
                                            <h6>Software design with PHP7</h6><span>Paul Dragoonis</span>

                                            <p>
                                            PHP and software development is moving quite fast these days, but which programming paradigms help you write better code? which OOD/OOP principles and architectural styles will help your software easier to understand, maintain and grow?<br><br>

                                            This talk focuses on some well known design patterns and how to practically implement, combine and leverage them in your PHP applications.<br><br>

                                            I will also teach you how to take things to the next level by taking advantage of new PHP7 features.
                                            </p>

                                        </td>
                                        <td>
                                            <h6>Magento ve Ödeme Sistemleri</h6>
                                            <span>Hidayet Ok</span>

                                            <p></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>15:00</td>
                                        <td>
                                            <h6>Elastic scaling in a (micro)service oriented architecture</h6><span>Bastian Hofmann</span>

                                            <p>
                                            Splitting an application up into multiple independent services can be a good way to keep it scaling and ensure stability and developer productivity in larger, growing teams. But just splitting the codebase, creating APIs and deploying the code on some servers is not enough, somehow your services need to know where and how other services are accessible. Classical approaches like hardcoding everything in every service or having a central load-balancer can quickly lead to problems in terms of scalability and maintainability. In this talk I'll show how we at ResearchGate tackled this challenge. With the help of tools like Consul and haproxy we created a setup that allows us to quickly boot and shutdown services. This ensures that all servers are utilized optimally and load spikes can be reacted upon quickly and automatically.
                                            </p>

                                        </td>
                                        <td>
                                            <h6>Ne bu ORM?</h6><span>Güven Atbakan</span>

                                            <p>
                                            Oturumda iki veritabanı kütüphanesi Doctrine ve Eloquent özelinde, karşılaştırma yaparak Active Record, Data Mapper, ORM kavramlarını inceleyeceğiz. Doctrine ve Eloquent'in karşılaştırmasında; bu iki kütüphanenin kullanımı hakkında bilgi verip, farklılıklarını, benzerliklerini, kullanım alanları ve kullanılma nedenlerini de ele alacağız.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>16:00</td>
                                        <td>
                                            <h6>Extending PHP for the great good</h6><span>Lorenzo Fontana</span>

                                            <p>
                                            PHP is a powerful high level language with tons of features, but sometimes we'd like to access some lower level API that's not available in PHP itself.<br><br>

                                            In this talk we are going to see how PHP extensions work and how to write, test and debug them.<br><br>

                                            The talk will also cover many use cases for extensions, and show what an extension actually is.
                                            </p>
                                        </td>
                                        <td>
                                            <h6>WordPress ile Büyük Ölçekli Siteler</h6><span>Mustafa Uysal</span>

                                            <p>
                                            Bu oturumda WordPress kullanan büyük ölçekli sitelerin alt yapısında kullanılan teknolojiler, eklentiler ve teknikler ile ilgili bilgi verilecek.
                                            </p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17:00</td>
                                        <td>
                                            <h6>
                                            </h6><span></span>

                                            <p></p>

                                        </td>
                                        <td>
                                            <h6>Kadın Yazılımcı Panel</h6>
                                            <span>Nesrin Kalender, Ayşe Bilge Gündüz</span>

                                            <p></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="tickets" class="container text-center pad-vertical-large">
        <h3>{{ 'TICKETS' | translate }}</h3>
        <hr class="hyphen">
        <p>{{ 'TICKETS_DESC' | translate }}</p>
        <div class="row pad-top">
            <div class="col-md-6 gap-bottom-tablet-v">
                <!-- Register Box -->
                <div class="register-box" style="min-height: 276px!important;">
                    <div class="register-box__col register-box__col--left">
                        <div class="register-box__price">
                            <sup>$</sup>25
                        </div>
                        <a class="button button--primary" href="http://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{ 'REGISTER' | translate }}</a>
                    </div>
                    <div class="register-box__col register-box__col--right">
                        <div class="register-box__title">Standart</div>
                        <hr class="hyphen">
                        <p class="register-box__desc">{{ 'TICKET_1_DESC' | translate }}</p>
                    </div>
                </div>
                <!-- Register Box -->
            </div>
            <div class="col-md-6">
                <!-- Register Box -->
                <div class="register-box">
                    <div class="register-box__col register-box__col--left">
                        <div class="register-box__price">
                            <sup>$</sup>65
                        </div>
                        <a class="button button--primary" href="http://istanbulphp-phpkonf2016.eventbrite.com/" target="_blank">{{ 'REGISTER' | translate }}</a>
                    </div>
                    <div class="register-box__col register-box__col--right">
                        <div class="register-box__title">EXCLUSIVE</div>
                        <hr class="hyphen">
                        <p class="register-box__desc">{{ 'TICKET_2_DESC' | translate }}</p>
                    </div>
                </div>
                <!-- Register Box -->
            </div>
        </div>
    </section>
    <div class="jumbotron jumbotron--map">
        <div class="container jumbotron__container">
            <section class="jumbotron__inner">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7">
                        <h3 class="jumbotron__title clear-gap-vertical">{{ 'BAU' | translate }}</h3>
                        <p>{{ 'BAU_DESC' | translate }}</p>
                        <a target="_blank" class="button button--primary" href="https://www.google.com/maps/place/Bahçeşehir+Üniversitesi/@41.041994,29.009049,17z">{{ 'MAP' | translate }}</a>
                        <a target="_blank" class="button button--primary" href="http://www.bahcesehir.edu.tr/galeri/22-bauda-kampuste-yasam">{{ 'PHOTOS' | translate }}</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <section class="pad-vertical-large container text-center">
           <h3>{{ 'HOTELS' | translate }}</h3>
           <hr class="hyphen">
           <p>Our accommodation sponsor <a href="http://lalahanhotel.com/" target="_blank">Lalahan Hotel</a> offer discounts for paying in cash special for PHPKonf guests!</p>

           <p>Also you can check five stars <a href="http://www.booking.com/searchresults.tr.html?src=index&nflt=&ss_raw=&error_url=http%3A%2F%2Fwww.booking.com%2Findex.tr.html%3Faid%3D318615%3Blabel%3DNew_Turkish_TR_5226434065-zpjCJmnb4EFNvnLmgmSN1wS44707853425%253Apl%253Ata%253Ap1%253Ap2%253Aac%253Aap1t1%253Aneg%3Bsid%3Dd02bab164e8a72bb46304d6394a02957%3Bdcid%3D1%3B&aid=318615&dcid=1&label=New_Turkish_TR_5226434065-zpjCJmnb4EFNvnLmgmSN1wS44707853425%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg&lang=tr&sid=d02bab164e8a72bb46304d6394a02957&si=ai%2Cco%2Cci%2Cre%2Cdi&ss=Be%C5%9Fikta%C5%9F&sb_travel_purpose=business&checkin_monthday=20&checkin_year_month=2016-5&checkout_monthday=23&checkout_year_month=2016-5&no_rooms=1&group_adults=1&group_children=0&dest_type=district&dest_id=1158">Beşiktaş Hotels</a> listed Booking.com <small>(Three days 20/23 May)</small></p>
           <div class="clearfix pad-top">
               <!-- Thumb Hotel -->
               <figure class="thumb thumb--hotel gap-bottom-mobile-h">
                   <img data-src="img/hotels/5.jpg" alt="" class="thumb__img">
                   <figcaption class="thumb__caption">
                       <a target="_blank" class="thumb__link" href="http://lalahanhotel.com/">
                           <div class="vertical-center">
                               <h4 class="thumb__link__title">Lalahan Hotel</h4>
                               <h6 class="thumb__link__subtitle">Istanbul Old Town City</h6>
                           </div>
                       </a>
                   </figcaption>
               </figure>
               <!-- /Thumb Hotel -->
           </div>
       </section>

    <div class="pad-vertical-large bg-snow">
        <div class="container text-center">
            <h3>{{ 'SPONSORS' | translate }}</h3>
            <hr class="hyphen">
            <p class="gap-bottom-large" translate="{{ 'SPONSORS_DESC' }}"></p>
            <h6 class="gap-top-large-mobile-h">{{ 'ORGANIZATION' | translate }} / Partner</h6>
            <a target="_blank" href="http://www.meetup.com/IstanbulPHP/"><img width="200px" height="200px" class="gap-bottom" data-src="img/sponsors/istanbulphp-logo.png" alt="İstanbul PHP UG"></a>
            <a target="_blank" href="http://www.teknasyon.com/"><img class="gap-bottom" data-src="img/sponsors/teknasyon-teknoloji.png" alt="Teknasyon Teknoloji"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'HONOR' | translate }}</h6>
            <a target="_blank" href="http://bahcesehir.edu.tr/"><img class="gap-bottom" width="200px" data-src="img/sponsors/bau.png" alt="Bahçeşehir University"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'GOLD_SPONSORS' | translate }}</h6>
            <a target="_blank" href="https://radore.com/"><img class="gap-bottom" data-src="img/sponsors/radore.png" alt="Radore"></a>
            <a target="_blank" href="https://www.netsparker.com/"><img class="gap-bottom" style="margin-left: 30px!important;" data-src="img/sponsors/netsparker.png" alt="Netsparker"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'SILVER_SPONSORS' | translate }}</h6>
            <a target="_blank" href="http://sonsuzdongu.com/"><img class="gap-bottom" data-src="img/sponsors/sonsuzdongu.png" alt="Sonsuzdöngü"></a>
            <a target="_blank" href="http://www.atolye15.com/"><img style="margin-left: 30px!important;" class="gap-bottom" data-src="img/sponsors/atolye15.png" alt="Atölye15"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'BRONZE_SPONSORS' | translate }}</h6>
            <a target="_blank" href="http://dugun.com/"><img class="gap-bottom" data-src="img/sponsors/dugun.png" alt="Düğün.com"></a>
            <a target="_blank" href="http://www.facile.it/"><img class="gap-bottom" style="margin-left: 30px!important;" data-src="img/sponsors/facileit.png" alt="Facile.it"></a><br/>
            <a target="_blank" href="http://www.currencyfair.com/"><img class="gap-bottom" data-src="img/sponsors/currencyfair.png" alt="Currency Fair"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'ACCOMMODATION_SPONSOR' | translate }}</h6>
            <a target="_blank" href="http://lalahanhotel.com"><img class="gap-bottom" data-src="img/sponsors/lalahan.png" alt="Lalahan Hotel"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'MEDIA_SPONSORS' | translate }}</h6>
            <a target="_blank" href="http://webrazzi.com/"><img class="gap-bottom" data-src="img/sponsors/webrazzi.png" alt="Webrazzi"></a>
            <h6 class="gap-top-large-mobile-h">{{ 'OPEN_SPONSORS' | translate }}</h6>
            <a target="_blank" href="http://stickker.net/"><img class="gap-bottom" data-src="img/sponsors/stickker-200.png" alt="Stickker.net"></a>
            <a target="_blank" href="http://nefisyemektarifleri.com/"><img class="gap-bottom" data-src="img/sponsors/nyt.png" alt="Nefis Yemek Tarifleri"></a>
        </div>
    </div>
    <div class="pad-vertical-large container">
        <h3>{{ 'CODE_OF_CONDUCT' | translate }}</h3>
        <p translate="{{ 'CODE_OF_CONDUCT_1' }}"></p>
        <div class="row pad-top-small">
            <div class="col-md-6">
                <ul class="questions">
                    <li class="questions__item">
                        <span class="questions__item__no">N<sup>o</sup>1</span>
                        <h6 class="questions__item__title">{{ 'NO_1_TITLE' | translate }}</h6>
                        <p translate="{{ 'NO_1_DESC' }}"></p>
                    </li>
                    <li class="questions__item">
                        <span class="questions__item__no">N<sup>o</sup>2</span>
                        <h6 class="questions__item__title">{{ 'NO_2_TITLE' | translate }}</h6>
                        <p translate="{{ 'NO_2_DESC' }}"></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="questions">
                    <li class="questions__item">
                        <span class="questions__item__no">N<sup>o</sup>3</span>
                        <h6 class="questions__item__title">{{ 'NO_3_TITLE' | translate }}</h6>
                        <p translate="{{ 'NO_3_DESC' }}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pad-vertical-large bg-snow">
        <div class="container text-center">
            <h3>{{ 'TEAM' | translate }}</h3>
            <hr class="hyphen hyphen--crew">
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/speakers/emir-karsiyakali.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Emir Karşıyakalı</h5>
                <a target="_blank" href="http://twitter.com/EmirKarsiyakali" class="crew-person__subtitle">@EmirKarsiyakali</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/osman-yuksel.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Osman Yüksel</h5>
                <a target="_blank" href="http://twitter.com/yuxel" class="crew-person__subtitle">@yuxel</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/arda-kilicdagi.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Arda Kılıçdağı</h5>
                <a target="_blank" href="http://twitter.com/ardadev" class="crew-person__subtitle">@ardadev</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/speakers/hidayet-dogan.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Hidayet Doğan</h5>
                <a target="_blank" href="http://twitter.com/hdogan" class="crew-person__subtitle">@hdogan</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/muhammet-dilmac.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Muhammet Dilmaç</h5>
                <a target="_blank" href="http://twitter.com/m_dilmac" class="crew-person__subtitle">@m_dilmac</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/speakers/haydar-kulekci.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Haydar Külekci</h5>
                <a target="_blank" href="http://twitter.com/kulekci" class="crew-person__subtitle">@kulekci</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/can-yildirim.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Can Yıldırım</h5>
                <a target="_blank" href="http://twitter.com/cyildirim_" class="crew-person__subtitle">@cyildirim_</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/seyhan-yilmaz.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Seyhan Yılmaz</h5>
                <a target="_blank" href="http://twitter.com/syhnylmzz" class="crew-person__subtitle">@syhnylmzz</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/hasan-akgun.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Hasan Akgün</h5>
                <a target="_blank" href="http://twitter.com/chelebi45" class="crew-person__subtitle">@chelebi45</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/talha-akkaya.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Talha Akkaya</h5>
                <a target="_blank" href="http://twitter.com/akkayatalha" class="crew-person__subtitle">@akkayatalha</a>
            </div>
            <div class="crew-person">
                <figure class="thumb thumb--crew">
                    <img class="thumb__img" data-src="img/crew/berke-karalar.jpg" alt="">
                </figure>
                <h5 class="crew-person__title">Berke Karalar</h5>
                <a target="_blank" href="http://twitter.com/berkedev" class="crew-person__subtitle">@berkedev</a>
            </div>
            
        </div>
    </div>

    <footer class="footer">
        <a class="logo logo--footer" href="http://atolye15.com" target="_blank" title="Atölye15"></a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.6.1/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/zozo-tabs/zozo.tabs.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyloadxt/1.0.5/jquery.lazyloadxt.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63786228-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '760153014121426');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=760153014121426&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Twitter single-event website tag code -->
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('nujj9', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nujj9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nujj9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    </noscript>
    <!-- End Twitter single-event website tag code -->
</body>
</html>
