<div class="honeycomb-wrapper">

    <div class="col-sm-3" ng-repeat="(id, speaker) in speakers | toArray">
        <div class="speaker">
            <div class="photo-wrapper rounded">
                <a href="javascript:void(0)" ng-click="clickToOpen(speaker)">
                    <img width="200px" height="200px" src="img/speakers/{{ speaker.photo }}" alt="{{ speaker.name + " " + speaker.surname }}" class="img-responsive">
                </a>
            </div>
            <div style="clear: both;"></div>
            <a href="javascript:void(0)" ng-click="clickToOpen(speaker)">{{ speaker.name + " " + speaker.surname }}</a>
            <p class="about" style="height: 50px!important">{{ speaker.bio }}</p>
        </div>
    </div>

</div>